//=======================================================
//  SECTIONS
//=======================================================
.section:not(li) {
  padding: $section-padding-normal $column-gap;

  // SPACINGS SIZES
  @each $name, $value in $sectionPaddings {
    &.is-#{$name} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }

  // REMOVE DOUBLE PADDING
  &:not([class*="has-background-"]):not(.is-styled):not(.visual) {
    + .section:not([class*="has-background-"]):not(.is-styled):not(.visual),
    + .section.has-background-gradient {
      padding-top: 0;
    }
  }

  &.has-background-gradient {
    + .section:not([class*="has-background-"]):not(.is-styled):not(.visual) {
      padding-top: 0;
    }
  }

  @each $name, $pair in $colors {
    &.has-background-#{$name}:not(.is-styled):not(.visual) {
      + .section.has-background-#{$name}:not(.is-styled):not(.visual) {
        padding-top: 0;
      }
    }
  }
}

@include touch {
    .section:not(li):not(.is-smaller):not(.is-smallest):not(.is-none) {
        padding-top: $section-padding-mobile;
        padding-bottom: $section-padding-mobile;
    }
}
