<footer class="footer section is-smaller has-background-grey-darker has-text-white has-links-white">
    <div class="is-flex">
        <p>
            &copy; Webmen 2022
        </p>
        <nav class="nav ml-auto">
            <ul>
                <li>
                    <a href="https://webmen.nl" target="_blank">Webmen.nl</a>
                </li>
                <li>
                    <a href="https://github.com/thewebmen/ss-bulma" target="_blank">Github</a>
                </li>
                <li>
                    <a href="https://bulma.io/" target="_blank">Bulma</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
