<section class="section is-smaller pr-5 pl-5 has-background-primary has-links-white has-links-hover-black is-sticky-top">
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/nav">Nav</a></li>
            <li><a href="/sections">Sections</a></li>
            <li><a href="/visual">Visual</a></li>
            <li><a href="/content">Content</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/embed">Embed</a></li>
            <li><a href="/holygrail">Holygrail</a></li>
            <li><a href="/messages">Silverstripe messages</a></li>
            <li><a href="/forms">Silverstripe forms</a></li>
        </ul>
    </nav>
</section>
