<section class="section is-smaller has-background-primary has-links-white has-links-hover-black">
    <nav class="nav">
        <ul>
            <li><a href="#nav">Nav</a></li>
            <li><a href="">Sections</a></li>
            <li><a href="">Visual</a></li>
            <li><a href="">Content</a></li>
            <li><a href="">Links</a></li>
            <li><a href="">Tables</a></li>
            <li><a href="">Embed</a></li>
            <li><a href="">Holygrail</a></li>
        </ul>
    </nav>
</section>