{% extends "base.njk" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="content">
                <h1>Content</h1>
                <p>Bulma is great, but we don't agree with some choices so we overwrite them;</p>
                <ul>
                    <li>
                        The <code>&lt;address&gt;</code> element style is overwritten so it's not italic by default.
                    </li>
                    <li>
                        The <code>&lt;strong&gt;</code> element style is overwritten so it's dark grey by default.
                    </li>
                    <li>
                        Title tags in default Bulma (<code>&lt;h1&gt;</code>, <code>&lt;h2&gt;</code> etc.) are styled
                        different when you place
                        them in <code>.content</code> or if you add the <code>.title .is-size-{size}</code> classes. We
                        overwrite this so they always look as you'd expect.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section has-background-black has-text-white">
        <div class="container">
            <div class="content">
                <h2 class="is-size-4">Address and strong</h2>
                <p>
                    By default Bulma sets the color of a <code>&lt;strong&gt;</code> tag to grey. This
                    doesn't work well on dark backgrounds, even if you add a text color class like
                    <code>.has-text-white</code>. So we unset it so the tag always takes on the color of the
                    rest of the text. <strong>And now it works as expected!</strong>
                </p>
                <p>
                    We also remove the default italic styling of a <code>&lt;address&gt;</code> element.
                </p>
                <address>
                    <strong>Webmen</strong><br>
                    Roggestraat 111<br>
                    7311CC, Apeldoorn<br>
                    The Netherlands
                </address>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="content">
                <h2 class="is-size-4">Titles</h2>
                <p>
                    There are different ways to add title styling. You can add a title tag inside a
                    <code>.content</code> class or add the <code>.title</code> class to the tag. The size is then
                    determined by the title tag priority (i.e. <code>&lt;h1&gt;</code> or <code>&lt;h2&gt;</code>). You
                    can overwrite or add a size as well by adding the <code>.is-size-{size}</code> class.
                </p>
                <h1>H1 title</h1>
                <h2>H2 title</h2>
                <h3>H3 title</h3>
                <h4>H4 title</h4>
                <h5>H5 title</h5>
                <h6>H6 title</h6>
            </div>
            <table class="table is-bordered">
                <tbody>
                <tr>
                    <td class="is-narrow pr-6">
                        <code>h1.title</code><br>
                        <code>.title.is-size-1</code><br>
                        <code>.content h1</code>
                    </td>
                    <td class="is-narrow">
                        <small class="tag">font-size</small><br>
                        <small class="tag">font-family</small><br>
                        <small class="tag">font-weight</small>
                    </td>
                    <td>
                        <code>$size-1</code><br>
                        <code>$title-family</code><br>
                        <code>$title-weight</code>
                    </td>
                    <td>
                        <code>3rem</code><br>
                        <code>BlinkMacSystemFont</code><br>
                        <code>600</code>
                    </td>
                </tr>
                <tr>
                    <td class="is-narrow pr-6">
                        <code>h2.title</code><br>
                        <code>.title.is-size-2</code><br>
                        <code>.content h2</code>
                    </td>
                    <td class="is-narrow">
                        <small class="tag">font-size</small><br>
                        <small class="tag">font-family</small><br>
                        <small class="tag">font-weight</small>
                    </td>
                    <td>
                        <code>$size-2</code><br>
                        <code>$title-family</code><br>
                        <code>$title-weight</code>
                    </td>
                    <td>
                        <code>2.5rem</code><br>
                        <code>BlinkMacSystemFont</code><br>
                        <code>600</code>
                    </td>
                </tr>
                <tr>
                    <td class="is-narrow pr-6">
                        <code>h3.title</code><br>
                        <code>.title.is-size-3</code><br>
                        <code>.content h3</code>
                    </td>
                    <td class="is-narrow">
                        <small class="tag">font-size</small><br>
                        <small class="tag">font-family</small><br>
                        <small class="tag">font-weight</small>
                    </td>
                    <td>
                        <code>$size-3</code><br>
                        <code>$title-family</code><br>
                        <code>$title-weight</code>
                    </td>
                    <td>
                        <code>2rem</code><br>
                        <code>BlinkMacSystemFont</code><br>
                        <code>600</code>
                    </td>
                </tr>
                <tr>
                    <td class="is-narrow pr-6">
                        <code>h4.title</code><br>
                        <code>.title.is-size-4</code><br>
                        <code>.content h4</code>
                    </td>
                    <td class="is-narrow">
                        <small class="tag">font-size</small><br>
                        <small class="tag">font-family</small><br>
                        <small class="tag">font-weight</small>
                    </td>
                    <td>
                        <code>$size-4</code><br>
                        <code>$title-family</code><br>
                        <code>$title-weight</code>
                    </td>
                    <td>
                        <code>1.5rem</code><br>
                        <code>BlinkMacSystemFont</code><br>
                        <code>600</code>
                    </td>
                </tr>
                <tr>
                    <td class="is-narrow pr-6">
                        <code>h5.title</code><br>
                        <code>.title.is-size-5</code><br>
                        <code>.content h5</code>
                    </td>
                    <td class="is-narrow">
                        <small class="tag">font-size</small><br>
                        <small class="tag">font-family</small><br>
                        <small class="tag">font-weight</small>
                    </td>
                    <td>
                        <code>$size-5</code><br>
                        <code>$title-family</code><br>
                        <code>$title-weight</code>
                    </td>
                    <td>
                        <code>1.25rem</code><br>
                        <code>BlinkMacSystemFont</code><br>
                        <code>600</code>
                    </td>
                </tr>
                <tr>
                    <td class="is-narrow pr-6">
                        <code>h6.title</code><br>
                        <code>.title.is-size-6</code><br>
                        <code>.content h6</code>
                    </td>
                    <td class="is-narrow">
                        <small class="tag">font-size</small><br>
                        <small class="tag">font-family</small><br>
                        <small class="tag">font-weight</small>
                    </td>
                    <td>
                        <code>$size-6</code><br>
                        <code>$title-family</code><br>
                        <code>$title-weight</code>
                    </td>
                    <td>
                        <code>1rem</code><br>
                        <code>BlinkMacSystemFont</code><br>
                        <code>600</code>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
