{% extends "base.njk" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="content">
                <h1>Embed</h1>
                <p>
                   Since Bulma itself doesn't provide a helper class for an iframe element. We added a new helper class to make an iframe responsive.
                   There is a helper class to make an iframe responsive, add this class <code>.embed-responsive</code> to the element!
                </p>
            </div>
        </div>
    </section>
{% endblock %}
