{% extends "base.njk" %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="content">
                <h2>Silverstripe forms</h2>
                <p>
                    Since Silverstripe renders it's own forms with their own classes they are not styled by default.
                    To solve this problem we add some default styling to the form elements inside a default Silverstripe
                    <code>.field</code> class by extending from the Bulma classes.
                </p>
            </div>
            <form>
                <fieldset>
                    <div class="field dropdown">
                        <label class="left" for="country">Country</label>
                        <div class="middleColumn">
                            <select name="country" class="dropdown" id="country">
                                <option value="" selected="">Choose a country</option>
                                <option value="NL">Netherlands</option>
                                <option value="DE">Germany</option>
                                <option value="BE">Belgium</option>
                                <option value="FR">France</option>
                                <option value="US">United States of America in North-America</option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="left" for="firstname">First name</label>
                        <div class="middleColumn">
                            <input type="text" class="text" id="firstname" name="firstname">
                        </div>
                    </div>
                    <div class="field">
                        <label class="left" for="lastname">Last name</label>
                        <div class="middleColumn">
                            <input type="text" class="text" id="lastname" name="lastname">
                        </div>
                    </div>
                    <div class="field">
                        <label class="left" for="comment">Comment</label>
                        <div class="middleColumn">
                            <textarea class="text" id="comment" name="comment"></textarea>
                        </div>
                    </div>
                    <div class="field file">
                        <label class="left" for="file">File</label>
                        <div class="middleColumn">
                            <input type="file" class="file" id="file">
                        </div>
                    </div>
                    <div class="field checkbox">
                        <div class="middleColumn">
                            <input type="checkbox" name="agree" value="1" class="checkbox " id="agree">
                            <label class="left" for="agree"> I agree to the <a href="">terms</a></label>
                        </div>
                    </div>
                </fieldset>
                <div class="btn-toolbar Actions">
                    <input type="submit" class="action">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
