{% extends "base.njk" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="content">
                <h1>Holygrail</h1>
                <p>About holygrail.</p>
            </div>
        </div>
    </section>
{% endblock %}
