{% extends "base.njk" %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="content">
                <h1>Why SS-Bulma?</h1>
                <p>
                    Bulma is a <a href="https://bulma.io">great CSS framework</a>, but as front-end developers we don't agree with all choices and
                    we're missing some things. Instead of copying the same custom css over and over again, we decided to
                    make a npm module to combat this problem.
                </p>
                <p>
                    The name SS-Bulma is an extension to the naming of Bulma. SS stands for SilverStripe, the CMS we
                    mostly use for Bulma. But SS could also stand for Super Saiyan. All you Dragonball fans know what
                    we mean. :)
                </p>
            </div>
        </div>
    </div>
{% endblock %}
