{% extends "base.njk" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="content">
                <h1>Tables</h1>
                <p>The styles of tables are removed with Bulma. We added a base styling so it makes sense.</p>
                <h2 class="is-size-4">Example:</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Project</th>
                        <th>Views</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2333</td>
                        <td>Amazing React Native App</td>
                        <td>233</td>
                    </tr>
                    <tr>
                        <td>1333</td>
                        <td>Symfony API Platform</td>
                        <td>1833</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
