{% extends "base.njk" %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="content">
                <h2>Visual</h2>
                <p>
                    By default a <code>.visual</code> scales with the content. If you want to have default padding,
                    add the <code>.section</code> class to the visual. You can also use the <code>.is-{size}</code>
                    options to set a default minimal height. Adding <code>.has-overlay</code> will create a
                    darkening overlay.
                </p>
            </div>
            <table class="table is-bordered">
                <tbody>
                <tr>
                    <td class="is-narrow pr-6">
                        <code>.is-smaller</code>
                    </td>
                    <td class="is-narrow">
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-smaller</code>
                    </td>
                    <td>
                        <code>150px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-small</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-small</code>
                    </td>
                    <td>
                        <code>250px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-normal</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-normal</code>
                    </td>
                    <td>
                        <code>420px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-medium</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-medium</code>
                    </td>
                    <td>
                        <code>500px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-large</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-large</code>
                    </td>
                    <td>
                        <code>650px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-larger</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-larger</code>
                    </td>
                    <td>
                        <code>800px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-full-screen</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>100vh</code>
                    </td>
                    <td>
                        <code>100vh</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.has-overlay</code>
                    </td>
                    <td>
                        <small class="tag">color</small>
                    </td>
                    <td>
                        <code>$visual-overlay</code>
                    </td>
                    <td>
                        <code>rgba($black, 0.4)</code>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="visual section has-overlay has-text-white"
         style="background-image: url('https://res.cloudinary.com/dphdcflzb/image/upload/v1646733274/SS-Bulma/ryan-riggins-dpCgZJoneZM-unsplash_puodch.jpg');">
        <div class="visual-content">
            <div class="container">
                <div class="columns">
                    <div class="column is-6-desktop">
                        <div class="content">
                            <h2>
                                Default darkened visual
                            </h2>
                            <p>
                                Illusion is born in the gap where ecstasy has been excluded. Only a visitor of the
                                universe may
                                integrate this flow of being. Yes, it is possible to destroy the things that can
                                confront us,
                                but not without non-locality on our side.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="content">
                <h2 class="is-size-4">Non full page width visuals</h2>
                <p>
                    You can use non full page width visuals as well, just by putting them inside a container and/or
                    column.
                </p>
            </div>
            <div class="columns">
                <div class="column is-6-desktop">
                    <div class="visual section has-overlay has-text-white"
                         style="background-image: url('https://res.cloudinary.com/dphdcflzb/image/upload/v1646733256/SS-Bulma/mohammad-rahmani-LrxSl4ZxoRs-unsplash_tomx2h.jpg');">
                        <div class="visual-content">
                            <div class="container">
                                <div class="content">
                                    <h2>Non full page width visual</h2>
                                    <p>
                                        It can be difficult to know where to begin. Prophet, look within and fulfill
                                        yourself. Although you may not realize it, you are heroic.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="content">
                <h2 class="is-size-4">Sizes, alignment and content</h2>
                <p>
                    By adding a size (i.e. <code>.is-medium</code>) to the visual you can increase the minimum height of
                    the visual. Adding <code>.is-justify-content-center</code> will center the content vertically.Of
                    course you can use the Bulma columns options to further align and contain your content as well.
                </p>
                <p>
                    You can use other helper classes to change the alignment and style of the content. With this you can
                    create lots of different styled visuals.
                </p>
            </div>
        </div>
    </div>
    <div class="visual section is-medium is-justify-content-center has-overlay has-text-white"
         style="background-image: url('https://res.cloudinary.com/dphdcflzb/image/upload/v1646733267/SS-Bulma/refargotohp-4A1gGhpcy24-unsplash_wv8tur.jpg');">
        <div class="visual-content">
            <div class="container">
                <div class="columns">
                    <div class="column is-6-desktop is-offset-3-desktop">
                        <div class="content">
                            <h2>
                                Medium darkened visual with centered content
                            </h2>
                            <p class="is-size-5">
                                Knowledge is the driver of serenity. The goal of sub-atomic particles is to plant the
                                seeds of sharing rather than ego. This life is nothing short of a condensing flow of
                                amazing truth.
                            </p>
                            <p>
                                <a href="" class="button is-primary">
                                    This is a button
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
