{% extends "base.njk" %}
{% block content %}
    <div class="visual section is-justify-content-center has-overlay has-text-white"
         style="background-image: url('images/simon-lee-36TSQemRAxo-unsplash.jpg');">
        <div class="visual-content">
            <div class="container">
                <div class="content">
                    <h2>Visual</h2>
                    <p>
                        By default a <code>.visual</code> scales with the content. If you want to have default padding,
                        add the <code>.section</code> class to the visual. You can also use the <code>.is-*</code>
                        options to set a default minimal height. Adding <code>.has-overlay</code> will create a
                        darkening overlay.
                    </p>
                </div>
                <table class="table is-bordered">
                    <tbody>
                    <tr>
                        <td class="is-narrow pr-6">
                            <code>.is-smaller</code>
                        </td>
                        <td class="is-narrow">
                            <small class="tag">min-height</small>
                        </td>
                        <td>
                            <code>$visual-height-smaller</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>.is-small</code>
                        </td>
                        <td>
                            <small class="tag">min-height</small>
                        </td>
                        <td>
                            <code>$visual-height-small</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>.is-normal</code>
                        </td>
                        <td>
                            <small class="tag">min-height</small>
                        </td>
                        <td>
                            <code>$visual-height-normal</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>.is-medium</code>
                        </td>
                        <td>
                            <small class="tag">min-height</small>
                        </td>
                        <td>
                            <code>$visual-height-medium</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>.is-large</code>
                        </td>
                        <td>
                            <small class="tag">min-height</small>
                        </td>
                        <td>
                            <code>$visual-height-large</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>.is-larger</code>
                        </td>
                        <td>
                            <small class="tag">min-height</small>
                        </td>
                        <td>
                            <code>$visual-height-larger</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>.is-full-screen</code>
                        </td>
                        <td>
                            <small class="tag">min-height</small>
                        </td>
                        <td>
                            <code>100vh</code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <code>.has-overlay</code>
                        </td>
                        <td>
                            <small class="tag">color</small>
                        </td>
                        <td>
                            <code>$visual-overlay</code>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
