{% extends "base.njk" %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="content">
                <h2>Visual</h2>
                <p>
                    By default a <code>.visual</code> scales with the content. If you want to have default padding,
                    add the <code>.section</code> class to the visual. You can also use the <code>.is-*</code>
                    options to set a default minimal height. Adding <code>.has-overlay</code> will create a
                    darkening overlay.
                </p>
            </div>
            <table class="table is-bordered">
                <tbody>
                <tr>
                    <td class="is-narrow pr-6">
                        <code>.is-smaller</code>
                    </td>
                    <td class="is-narrow">
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-smaller</code>
                    </td>
                    <td>
                        <code>150px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-small</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-small</code>
                    </td>
                    <td>
                        <code>250px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-normal</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-normal</code>
                    </td>
                    <td>
                        <code>420px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-medium</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-medium</code>
                    </td>
                    <td>
                        <code>500px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-large</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-large</code>
                    </td>
                    <td>
                        <code>650px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-larger</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>$visual-height-larger</code>
                    </td>
                    <td>
                        <code>800px</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.is-full-screen</code>
                    </td>
                    <td>
                        <small class="tag">min-height</small>
                    </td>
                    <td>
                        <code>100vh</code>
                    </td>
                    <td>
                        <code>100vh</code>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code>.has-overlay</code>
                    </td>
                    <td>
                        <small class="tag">color</small>
                    </td>
                    <td>
                        <code>$visual-overlay</code>
                    </td>
                    <td>
                        <code>rgba($black, 0.4)</code>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="visual section is-justify-content-center has-overlay has-text-white"
         style="background-image: url('images/simon-lee-36TSQemRAxo-unsplash.jpg');">
        <div class="visual-content">
            <div class="container">
                <div class="content">
                    <h2>Dit is een default visual met section</h2>
                    <p>
                        Illusion is born in the gap where ecstasy has been excluded. Only a visitor of the universe may
                        integrate this flow of being. Yes, it is possible to destroy the things that can confront us,
                        but not without non-locality on our side.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="visual-content">
            <div class="container">
                <div class="content">
                    <h2 class="is-size-4">In columns</h2>
                    <p>
                        You can use visuals in columns
                    </p>
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <div class="visual section has-overlay has-text-white"
                             style="background-image: url('images/simon-lee-36TSQemRAxo-unsplash.jpg');">
                            <div class="visual-content">
                                <div class="container">
                                    <div class="content">
                                        <h2>Dit is een default visual met section</h2>
                                        <p>
                                            Illusion is born in the gap where ecstasy has been excluded. Only a visitor of the universe may
                                            integrate this flow of being. Yes, it is possible to destroy the things that can confront us,
                                            but not without non-locality on our side.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="visual section has-overlay has-text-white"
         style="background-image: url('images/simon-lee-36TSQemRAxo-unsplash.jpg');">
        <div class="visual-content">
            <div class="container">
                <div class="content">
                    <h2>Dit is een default visual met section</h2>
                    <p>
                        Illusion is born in the gap where ecstasy has been excluded. Only a visitor of the universe may
                        integrate this flow of being. Yes, it is possible to destroy the things that can confront us,
                        but not without non-locality on our side.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
