//=======================================================
//  SECTIONS
//=======================================================
.visual {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  min-height: $visual-height;
  display: flex;
  flex-direction: column;
  position: relative;

  > * {
    width: 100%;
  }

  &.is-stretch {
    min-height: 1rem;
  }

  .visual-image {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  // SIZES
  &.is-small {
    min-height: $visual-height-small;
  }

  &.is-smaller {
    min-height: $visual-height-smaller;
  }

  &.is-normal {
    min-height: $visual-height;
  }

  &.is-medium {
    min-height: $visual-height-medium;
  }

  &.is-large {
    min-height: $visual-height-large;
  }

  &.is-larger {
    min-height: $visual-height-larger;
  }

  &.is-full-screen {
    min-height: 100vh;
  }

  &.has-overlay {
    &::after {
      content: "";
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $visual-overlay;
      pointer-events: none;
    }
  }
}

.visual-content {
  position: relative;
  z-index: 20;
  padding: $section-padding-normal $column-gap;

  .button {
    text-shadow: none !important;
  }
}

@media screen and (max-width: $tablet) {
  .visual:not(.is-full-screen) {
    min-height: $visual-height-small !important;
  }
}
