$warning: hsl(34,100,50);

// IMAGE & CAPTIONS
$caption-font-style:        italic !default;
$caption-color:             $grey !default;
$caption-font-size:         $size-7 !default;
$caption-margin:            0.5rem !default;

$image-border-radius:       $radius !default;
