//=======================================================
//  ICONS
//=======================================================
.svg-icon {
    position: relative;
    line-height: 1;
    display: inline-block;

    svg {
        path {
            fill: currentColor !important;
        }
    }

    &::after {
        content: "\a0";
        opacity: 0;
        pointer-events: none;
        display: inline-flex;
        width: 1em;
    }

    > * {
        position: absolute;
        height: 1em;
        width: 1em;
        top: 50%;
        transform: translateY(-50%);
    }
}
