.list {
    display: flex;
    flex-direction: column;

    &.is-horizontal {
        margin: 0 (calc(-#{$list-gap-normal} / 2));
        flex-direction: row;
        flex-wrap: wrap;

        .list-item,
        li {
            padding-top: 0;
            padding-bottom: (calc(#{$list-gap-normal} / 2));
            padding-left: (calc(#{$list-gap-normal} / 2));
            padding-right: (calc(#{$list-gap-normal} / 2));
        }

        &.is-small {
            margin: 0 (calc(-#{$list-gap-small} / 2));

            .list-item,
            li {
                padding-bottom: (calc(#{$list-gap-small} / 3));
                padding-left: (calc(#{$list-gap-small} / 2));
                padding-right: (calc(#{$list-gap-small} / 2));
            }
        }

        &.is-large {
            margin: 0 (calc(-#{$list-gap-large} / 2));

            .list-item,
            li {
                padding-left: (calc(#{$list-gap-large} / 2));
                padding-right: (calc(#{$list-gap-large} / 2));
            }
        }

        @include from($desktop) {
            &.is-dotted {
                .list-item,
                li {
                    &:not(:last-child) {
                        position: relative;

                        &::after {
                            content: "";
                            background-color: $primary-dark;
                            width: 2px;
                            height: 2px;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%) translateX(50%);
                        }
                    }
                }
            }
        }
    }
}
