.list {
    display: flex;
    flex-direction: column;

    > li,
    > .list-item {
        > a,
        > span {
            display: flex;
            align-items: center;
        }
    }

    // VERTICAL
    &:not(.is-horizontal) {
        @each $name, $value in $list-gutters {
            &.is-#{$name} {
                margin-top: -($value / 4) !important;
                margin-bottom: -($value / 4) !important;

                > li,
                > .list-item {
                    > a,
                    > span {
                        padding-top: ($value / 4) !important;
                        padding-bottom: ($value / 4) !important;
                    }
                }
            }
        }
    }

    // HORIZONTAL
    &.is-horizontal {
        margin-left: -($list-gutter-normal / 2);
        margin-right: -($list-gutter-normal / 2);
        flex-direction: row;
        flex-wrap: wrap;

        > li,
        > .list-item {
            padding-left: ($list-gutter-normal / 2);
            padding-right: ($list-gutter-normal / 2);
        }

        // SPACINGS SIZES
        @each $name, $value in $list-gutters {
            &.is-#{$name} {
                margin-left: -($value / 2);
                margin-right: -($value / 2);

                > li,
                > .list-item {
                    padding-left: ($value / 2);
                    padding-right: ($value / 2);
                }
            }
        }
    }

    // GUTTERLESS
    &.is-gutterless {
        margin-left: 0 !important;
        margin-right: 0 !important;

        > li,
        > .list-item {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
