//=======================================================
//  TABLES
//=======================================================
table,
.content table {
    width: 100%;

    td,
    th {
        &.is-narrow {
            width: 1%;
            white-space: nowrap;
        }
    }
}
