.message {
    border: $border-1;
    padding: 0.5rem 1rem;
    font-size: $size-7;
    background-color: lighten($text, 60);
    border-color: $text;
    border-radius: $radius;

    &.is-info,
    &.info {
        color: $info;
        background-color: lighten($info, 41);
        border-color: $info;
    }

    &.is-warning,
    &.notice,
    &.warning,
    &.validation {
        color: $warning;
        background-color: lighten($warning, 45);
        border-color: $warning;
    }

    &.is-danger,
    &.bad,
    &.error,
    &.danger,
    &.required {
        color: $danger;
        background-color: lighten($danger, 35);
        border-color: $danger;
    }

    &.is-success,
    &.success,
    &.good {
        color: $success;
        background-color: lighten($success, 43);
        border-color: $success;
    }
}
