//=======================================================
//  MESSAGES
//=======================================================
.message {
    border: $border-1;
    padding: $message-body-padding;
    font-size: $size-7;
    background-color: lighten($text, 60);
    border-radius: $radius;

    .message-body {
        border: 0;
        padding: 0;
        color: unset !important;
    }

    &.is-info,
    &.info {
        color: $info;
        background-color: lighten($info, 41);
        border-color: $info;

        .message-body {
            * {
                color: $info;
            }
        }
    }

    &.is-warning,
    &.notice,
    &.warning,
    &.validation {
        color: $warning;
        background-color: lighten($warning, 45);
        border-color: $warning;

        .message-body {
            * {
                color: $warning;
            }
        }
    }

    &.is-danger,
    &.bad,
    &.error,
    &.danger,
    &.required {
        color: $danger;
        background-color: lighten($danger, 35);
        border-color: $danger;

        .message-body {
            * {
                color: $danger;
            }
        }
    }

    &.is-success,
    &.success,
    &.good {
        color: $success;
        background-color: lighten($success, 43);
        border-color: $success;

        .message-body {
            * {
                color: $success;
            }
        }
    }
}
